#navi{
    
    display: grid;
    grid-template-rows: repeat (6,1fr);
    grid-template-columns:  1fr;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color:rgb(116, 199, 201);

}
.cbs-2{
    display: none;
}
.giridcabe{
    display: grid;
    grid-template-columns: 10% 90%;
    height: 180px;
    background-color:rgb(255, 176, 176);
    align-items: center;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-areas:    "a"
                            "b"
                            "c"
                            "d"
                            "e"
                            "f"
                            "g";
    gap: 2px 5px;
    height: 2.800;
}
.grd{
    border-radius: 5px;
    height: 400px;
    padding: 5px;
    border:1px solid black;
    background: rgb(117, 75, 75);
    color: white;
}
.tim-1{
    grid-area: a;
}
.estu{
    
    align-items: center;
    height: 300px;
}
.tim-2{
    grid-area: b;
    grid-template-columns: 20% 80%;
    justify-items: start;
    padding: 5px;
}
.tim-3{
    grid-area: c;
}
.tim-4{
    grid-area: d;
}
.tim-5{
    grid-area: e;
}
.tim-6{
    grid-area: f;
}
.tim-7{
    grid-area: g;
}
.fot{
    display: none;
}
.super-5{
    display: grid;
    grid-template-columns: 10% 80% 0%;
    background-color:rgb(255, 176, 176);

}
#log1{
    height: 80px;
    
}